<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.magnum" level="DEBUG"/>

	<dependency>
		<groupId>org.springframework</groupId>
		<artifactId>spring-webmvc</artifactId>
		<version>4.3.6.RELEASE</version>
	</dependency>
</configuration>